//General variable colors

$primaryColor: #fff;
$secondaryColor: #1b1b1a;
$ternaryColor: #7348ff;
$layoutBackgroundColor: #fbfaf9;
$moreInfoPageBackGroundColor: #f2f1f0;
$firstCardTitleColor: #179690;
$secondCardTitleColor: #ff2e57;
$thirdCardTitleColor: #33d1ea;

$primaryFontFamily: "Inter", sans-serif;
$secondaryFontFamily: "Manrope", sans-serif;
