@import "../styles/settings.scss";
@import "../styles/mixins.scss";
@import "../styles/responsive.scss";

.btn {
  font-family: $primaryFontFamily;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  padding: 13px 33px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.btn--primary {
  background-color: $ternaryColor;
}

.btn--secondary {
  background-color: $secondaryColor;
}
