@import "../styles/settings.scss";
@import "../styles/mixins.scss";
@import "../styles/responsive.scss";

.btn {
  font-family: $primaryFontFamily;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  padding: 9px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.btn--primary {
  background-color: $ternaryColor;
}

.btn--secondary {
  background-color: $secondaryColor;
}

@media #{$mobile-version} {
  .btn {
    font-size: 12px;
    padding: 0 10px;
  }
}
