@import "../styles/settings.scss";
@import "../styles/mixins.scss";

.footerContainer {
  display: flex;
  justify-content: center;
  color: $primaryColor;
  margin-bottom: 20px;
  margin-top: 100px;
  max-width: 100%;
  flex-wrap: wrap;

  .footerContainerBackground {
    display: flex;
    position: relative;
    width: 100%;
    background-color: $ternaryColor;
    border-radius: 12px;

    .footerBackgroundImage {
      display: flex;
      height: 100%;

      img {
        height: 100%;
        display: flex;
        justify-content: flex-start;
      }
    }

    .footerItems {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      width: 100%;
      padding-left: 64px;
      padding-right: 64px;

      .footerTitle {
        display: flex;
        font-family: $secondaryFontFamily;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        text-align: start;
      }

      .footerConditions {
        display: flex;
        font-family: $primaryFontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;

        .footerConditionsText {
          margin-left: 68px;

          img {
            @include tickIconStyling;
          }
        }
      }
    }
  }
}
