@import "../styles/settings.scss";
@import "../styles/mixins.scss";
@import "../styles/responsive.scss";

.footerContainer {
  display: flex;
  justify-content: center;
  color: $primaryColor;
  margin-bottom: 20px;
  margin-top: 100px;
  max-width: 100%;

  .footerConditions {
    display: flex;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    gap: 24px;

    .footerConditionsText {
      img {
        @include tickIconStyling;
      }
    }
  }
}

.footerContainerBackground {
  position: relative;
  width: 100%;
  background-color: $ternaryColor;
  border-radius: 12px;

  .footerBackgroundImage {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
      max-width: 100%;
    }
  }
}

.footerItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  padding: 72px 64px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.footerTitle {
  display: flex;
  font-family: $secondaryFontFamily;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.2;
  text-align: start;
  max-width: 460px;
}

@media #{$medium-screen} {
  .footerTitle {
    font-size: 30px;
  }

  .footerItems {
    flex-direction: column;
    padding: 24px 0;
    gap: 16px;
  }

  .footerTitle {
    text-align: center;
  }

  .footerContainerBackground {
    margin: 0 24px;
  }
}
