@import "../styles/settings.scss";
@import "../styles/responsive.scss";

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primaryFontFamily;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 65px;
  flex-wrap: wrap;
  padding: 0 56px;
}

.navBarLogIn {
  line-height: 40px;
  width: 230px;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: $ternaryColor;
  }
}

.navBarIcon {
  width: 230px;
  text-align: left;
}

.navBarItems {
  padding-left: 0;
  line-height: 24px;
  flex-grow: 1;

  ul {
    display: flex;
    justify-content: center;
    gap: 32px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $secondaryColor;
        white-space: nowrap;

        img {
          margin-left: 6px;
        }
      }
    }
  }
}

button {
  font-family: $primaryFontFamily;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 14px;
  padding: 0 16px;
  color: $primaryColor;
  background-color: $ternaryColor;
  border: 1px solid transparent;
  border-radius: 8px;
}

@media #{$medium-screen} {
  .navBar {
    padding: 0 24px;
    justify-content: center;
    gap: 8px;
  }

  .navBarIcon,
  .navBarLogIn {
    width: auto;
    flex-grow: 1;
  }

  .navBarIcon img {
    width: 85px;
  }

  .navBarItems {
    order: 2;
    margin: 16px -24px 0;
    width: 100vw;
    overflow-x: scroll;
    padding: 0 24px;
    padding-bottom: 8px;

    ul {
      justify-content: center;
    }
  }

  .buttonFullText {
    display: none;
  }
}

@media #{$small-screen} {
  .navBarItems {
    ul {
      justify-content: space-between;
    }
  }
}
