@import "../styles/settings.scss";
@import "../styles/mixins.scss";
@import "../styles/responsive.scss";

.trialAdvertContainer {
  display: flex;
  flex-direction: column;

  .trialAdvertQuestion {
    @include manropeColoredTitles;
    color: $ternaryColor;
    line-height: 16px;
    margin-bottom: 12px;
    margin-top: 104px;
  }

  .trialAdvertTitle {
    @include fontStylemanropeBold;
    margin-bottom: 40px;
  }
}

.trialAdvertConditions {
  @include trialConditions;
  justify-content: center;
  color: $secondaryColor;
  margin-top: 32px;
  margin-bottom: 50px;

  > p {
    margin-right: 56px;
  }

  img {
    @include tickIconStyling;
  }
}

@media #{$medium-screen} {
  .trialAdvertConditions {
    margin: 30px 24px;

    p {
      margin-right: 0;
    }
  }
}
